body {
  background: white;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  background-image: url("/Images/Birds.jpeg");
  background-size: 100%;
  background-position: center;
  height: 400px;
  padding: 0px;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
}

header .mobile {
  display: none;
}

header .logo a {
  background-image: url("/Images/logo.png");
  background-size: 200px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 120px;
  position: relative;
  text-indent: -9999999px;
  top: -30px;
  width: 300px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 30px;
}

summary {
  text-align: left;
  padding-top: 120px;
  border: white;
  color: black;
}

.features {
  background: white;
  color: rgb(26, 26, 26);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.features figure {
  margin: auto;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}

.features figure img {
  border: 1px solid white;
  box-shadow: grey 0 0 10px;
  width: 200px;
}

footer {
  background: black;
  color: gray;
  font-size: 12px;
  padding: 20px 20px;
  text-align: center;
}

@media screen and (max-width: 715px) {
  header {
    height: 250px;
    background-position: 0 -30px;
  }
  header .mobile {
    display: inline-block;
  }
  header .desktop {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  header {
    height: 200px;
    background-position: 0 -0px;
  }
}
